
<h1 id="title">トップ ページ</h1>

<div id="top_about_me">
  <p>自分に関する情報： id(<%= my_info['id'] %>), name(<%= my_info['name']%>), プロフィール文(<%= my_info['profile'] %>)</p>

  <img id="top_profile_img" src="/user_icon_images/<%= my_info['icon_img_path'] %>" alt="<%= my_info['name'] %>さんのプロフィール画像">
</div>

<br>

<!-- 投稿フォーム -->
<form id="top_form" action="/save" method="post" enctype="multipart/form-data">
  <label>
    投稿画像：
    <input type="file" name="up_img" accept="image/jpeg, image/x-png, image/gif, image/x-MS-bmp" required>
  </label><br>
  <label>
    メッセージ：
    <input type="text" name="up_msg" placeholder="省略可">
  </label><br>
  <input type="submit" value="Send">
</form>

<br>

<a href="/logout">ログアウトする</a><br>

<a href="/follow_list">フォロー一覧へ</a><br>
<a href="/follower_list">フォロワー一覧へ</a><br>
<a href="/like_list">いいね記事一覧へ</a><br>
<a href="/edit_profile">プロフィール編集へ</a><br>

<br>

<!-- 表示 -->
<div id="top_sviews">
<% @res.each do |item| %>
  <div class="top_view">

    <p>
      <span class="top_view_creater_name">投稿者： <%= item['name'] %></span>
    </p>

    <img class="top_view_img" src="/up_images/<%= item['img_path'] %>" alt="<%= item['name'] %>さんの投稿画像です">

    <span class="top_view_msg"><%= item['msg'] %></span><br>

    <div class="top_view_status">
      <% if item['creater_id'] != my_info['id'] %>

        <% if item['follow_from_user_id'] %>
          <a href="/unfollow/<%= item['creater_id'] %>">フォロー解除</a>
        <% else %>
          <a href="/follow/<%= item['creater_id'] %>">フォローする</a>
        <% end %>

        <% if item['like_from_user_id'] %>
          <a href="/unlike/<%= item['id'] %>">いいね解除</a>
        <% else %>
          <a href="/like/<%= item['id'] %>">いいねする</a>
        <% end %>

      <% else %>
        <p>( 自分の投稿 )</p>
      <% end %>
    </div>


  </div>
  <br>
<% end %>
</div>
